{% extends 'base.html' %}

{% block title %} BlogHome {% endblock title %}

{% block js %}
<script>
    let previews = document.getElementsByClassName('preview');
    Array.from(previews).forEach((element) => {
        element.innerHTML = element.innerText;
    });
</script>
{% endblock js %}

{% block blogactive %} active {% endblock blogactive %}

{% block body %}
<div class="container my-3">
    <h2 style="text-align: center; background-color: #FFFFFF;
    background-image: linear-gradient(to bottom right, #dff7ff, #97fd9f); padding: 10px;">Blogs by Technophiles</h2>

    <div class="posts my-2"> <!-- Post section -->
        {% for post in allPosts %}
        <div class="row my-2"> <!-- Row for each article -->
            <div class="col-md-12"> <!-- Full width for each article -->
                <div class="border rounded mb-4 shadow-sm" style="padding: 20px;"> <!-- Added padding for uniformity -->
                    <div class="d-flex flex-column"> <!-- Keep padding consistent -->
                        <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}} ({{post.views}} views)</strong>
                        <h3 class="mb-0"><a href="/blog/{{post.slug}}">{{post.title}}</a></h3>
                        <div class="mb-1 text-muted">{{post.datetime}}</div>
                        <p class="card-text mb-auto">
                            <div class="preview">{{post.content|safe|truncatechars:300}}</div>
                        </p>
                        <a href="/blog/{{post.slug}}" class="stretched-link">Continue reading</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
