{% extends 'base.html' %}
{% block title %} Blogpost {% endblock title %}
{%block blogactive %} active {% endblock blogactive %}
{% block body %}
{% load humanize %}
{% load extras %}
<div class="container my-3">
  <div class="blog-post">
    <h2 class="blog-post-title" style="
        background-color: #ffffff;
        background-image: linear-gradient(to bottom right, #dff7ff, #97fd9f);
        padding-left: 10px;
        margin-left: -10px;
      ">
      {{post.title}}
    </h2>

    <p class="blog-post-meta">{{post.timeStamp}} by {{post.author}} (<span > {{post.views}} views</span>)</p>

    <p>{{post.content|safe}}</p>
    <hr />
  </div>
  <div class="container">
    <h2>Comments ({{comments.count}})</h2>
    <div class="my-2">
      {% if user.is_authenticated %}
      <form action="/blog/postComment" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Post Comment </label>
          <input type="text" class="form-control" name="comment" placeholder="Enter comment here" />
        </div>
        <input type="hidden" name="postSno" value="{{post.sno}}" />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% else %}
      <p>Please login to post a comment</p>
      {% endif %}
    </div>
    <div class="comments">
      {% for comment in comments %}
      <div class="row my-3">
        <div class="col-md-1">
          <img class="rounded mx-auto d-block w-100 p-2" src="/static/img/user.png" alt="user"
            style="max-width: 70px" />
        </div>
        <div class="col-md-11">
          <h6>
            {{comment.user.username}}
            <span class="badge badge-secondary">{{comment.timestamp|naturaltime}}</span>
          </h6>
          <div>{{comment.comment}}</div>


          <div class="reply mx-0 mt-3">
            {% if user.is_authenticated %}
            <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse"
              data-target="#replyBox{{comment.sno}}" aria-expanded="false" aria-controls="replyBox{{comment.sno}}">
              Reply
            </button>

            <div class="collapse" id="replyBox{{comment.sno}}">
              <div class="card card-body my-2">
                <form action="/blog/postComment" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="comment">Post a reply </label>
                    <input type="text" class="form-control" name="comment" placeholder="Enter comment here">
                    <input type="hidden" name="parentSno" value="{{comment.sno}}">
                  </div>
                  <input type="hidden" name="postSno" value="{{post.sno}}">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
            {% else %}
            <button class="btn btn-sm btn-primary disabled" type="button" data-toggle="collapse"
              data-target="#replyBox{{comment.sno}}" aria-expanded="false" aria-controls="replyBox{{comment.sno}}">
              Login to Reply
            </button>
            {% endif %}


            <div class="replies my-2 pl-4">
              {% for reply in replyDict|get_val:comment.sno %}
              <div class="row my-2">
                <div class="col-md-1 ">
                  <img class="rounded mx-auto d-block w-75 p-2" src="/static/img/user.png" alt="user"
                    style="max-width: 70px">
                </div>
                <div class="col-md-11">
                  <div class="col-md-11 ">
                    <b> {{reply.user.username}} </b> <span class="badge badge-secondary">{{reply.timestamp|naturaltime}}</span>
                    <div>{{reply.comment}}</div>
                  </div>
                  <br>
                </div>
              </div>
              {% endfor %}

            </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endblock body %}