{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

  <title>{% block title %} {% endblock title %} | Technophiles</title>
  <style>
    body {
      transition: background-color 0.3s;
      /* Smooth transition */
    }

    body.dark-mode .jumbotron {
      background-image: linear-gradient(to bottom right, #4308c2, #15916a); /* Your dark mode gradient */
  }
  

    body.light-mode {
      background-color: white;
      color: black;
    }

    body.dark-mode {
      background-color: #121212;
      color: rgb(35, 147, 22);
    }

    body.dark-mode h2,
    body.dark-mode h3 a {
      color: rgb(243, 85, 172);
    }

    body.dark-mode h1 {
      color: black;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"> <img src="{% static 'img/logo.png' %}" alt="Logo"
        style="height: 30px; margin-right: 8px;">Technophiles</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% block homeactive %} {% endblock homeactive %}">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item {% block blogactive %} {% endblock blogactive %}">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item {% block contactactive %} {% endblock contactactive %}">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
      </ul>
      <form method="get" action="/search" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query"
          id="query" />
        <button class="btn btn-outline-success my-2 my-sm-0 mx-3" type="submit">
          Search
        </button>
      </form>
      {% if user.is_authenticated %}
      <ul class="navbar-nav mr-2">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button" data-toggle="dropdown"> Welcome
            {{request.user}}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/logout">Logout</a>

          </div>
        </li>
      </ul>
    </div>
    {% else %}
    <!-- Button to  trigger Login modal -->
    <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#loginModal">
      Login
    </button>

    <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#signupModal">
      SignUp
    </button>
    {% endif %}
    </div>
    <button id="mode-toggle" class="btn btn-outline-light ml-2" title="Toggle Dark/Light Mode">
      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="text-purple-700"
        height="28" width="28" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z">
        </path>
      </svg>
    </button>
  </nav>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message : </strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}

  <!--Signup Modal -->
  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupModalTitle">Sign Up Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/signup" method="post">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="username"
                placeholder="Choose a unique username (alphanumeric)" value="priya123" required />
            </div>

            <div class="form-group">
              <label for="fname">First Name</label>
              <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" value="Priya"
                required />
            </div>

            <div class="form-group">
              <label for="lname">Last Name</label>
              <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name" value="Mittal"
                required />
            </div>

            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com"
                value="priyamittal@gmail.com" required />
            </div>

            <div class="form-group">
              <label for="pass1">Choose a Password</label>
              <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Choose a password"
                value="priyam123" required />
            </div>

            <div class="form-group">
              <label for="pass1">Confirm Password</label>
              <input type="password" class="form-control" id="pass2" name="pass2"
                placeholder="Enter your password again" value="priyam123" required />
            </div>

            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>

  <!--Login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalTitle">Login Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/login" method='post'>
            <div class="form-group">
              <label for="username">Enter Username</label>
              <input type="text" class="form-control" id="loginusername" name="loginusername"
                placeholder="Enter username" value="techie45" required />
            </div>

            <div class="form-group">
              <label for="pass1">Enter Password</label>
              <input type="password" class="form-control" id="loginpassword" name="loginpassword"
                placeholder="Enter password" value="techie@45" required />
            </div>

            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>


  {% block body %} {% endblock body %}
  {% block js %}{% endblock js %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const toggleButton = document.getElementById('mode-toggle');
      const body = document.body;


      const currentMode = localStorage.getItem('mode') || 'light';
      body.classList.add(`${currentMode}-mode`);
      updateButtonIcon(currentMode);

      toggleButton.addEventListener('click', () => {

        body.classList.toggle('dark-mode');
        body.classList.toggle('light-mode');

        // Save the current mode in localStorage
        const newMode = body.classList.contains('dark-mode') ? 'dark' : 'light';
        localStorage.setItem('mode', newMode);
        updateButtonIcon(newMode);

      });

      function updateButtonIcon(mode) {
        toggleButton.querySelector('svg').classList.toggle('text-purple-700', mode === 'light');
        toggleButton.querySelector('svg').classList.toggle('text-white', mode === 'dark');
      }
    });
  </script>
</body>

</html>